<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="folder_a" value="D:\Work\dotNET\DataProcessing\folder_a"/>
		<add key="folder_b" value="D:\Work\dotNET\DataProcessing\folder_b"/>
		<add key="folder_c" value="D:\Work\dotNET\DataProcessing\folder_c"/>
		<add key="pipeGUID" value="31de4bd9-204b-4c38-9584-32350c750948"/>
	</appSettings>
</configuration>
